# Xcode & Swift Package Manager
build/
build_output/
.build/
.swiftpm/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Compiled Binaries & Swift Modules
libDynamicWallpaperCore.dylib
DynamicWallpaperCore.abi.json
DynamicWallpaperCore.swiftdoc
DynamicWallpaperCore.swiftmodule
DynamicWallpaperCore.swiftsourceinfo
DynamicWallpaperEngine
RunTests

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Logs
*.log

# others
tmp_uploads/